.container {
    width: 100%;
    max-width: 1120px;
    min-height: 100vh;
    margin: 0 auto;

    .welcome {
        margin-top: 20px;

        p {
            font-weight: 900;
            font-size: 15px;
            line-height: 117.5%;
            color: var(--orange);
            margin-top: 5px;
        }

        span {
            margin-top: 10px;
            font-weight: 300;
            font-size: 12px;
            line-height: 117.5%;
            text-align: center;

            color: #F5F5F5;
        }
    }

    h1 {
        margin-left: 8px;

    }

    .categoria {
        margin-top: 50px;
        font-size: 12px !important;
        width: 50%;
        height: 50px;
        color: #000000;
        background: linear-gradient(269.8deg, rgba(253, 117, 0, 0.3) 0.04%, rgba(52, 168, 83, 0.3) 99.7%), #F5F5F5;
        border-radius: 10px;
    }

    .contents {
        margin-top: -1.2%;
        margin-bottom: 20px;
        background: linear-gradient(269.8deg, rgba(253, 117, 0, 0.1) 0.04%, rgba(52, 168, 83, 0.1) 99.7%), #F5F5F5;
        border-radius: 10px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
            font-weight: 600;
            font-size: 14px;
            line-height: 117.5%;

            color: var(--black);
            padding: 10px;
        }



        ul {
            border-radius: 10px;
            width: 100%;
            padding: 10px;


            .info_content {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;

                ul {
                    display: flex;
                }
            }

            li {
                font-weight: 700;
                font-size: 13px;
                line-height: 160.62%;
                list-style: none;

                color: var(--black);

            }

            ul {
                li {
                    margin-left: 20px;
                    margin-bottom: 15px;

                    &:hover {
                        filter: brightness(0.8);
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        h1 {
            font-size: 20px !important;
            margin-left: 8px;
        }

        h2 {
            font-size: 15px !important;
        }

        .categoria {
            height: 50px;
            margin-left: 10px;

        }

        .contents {
            margin-top: -5%;
            margin-left: 10px;
            margin-right: 10px;

        }
    }
}