.container {
    background: linear-gradient(242.84deg, rgba(52, 25, 2, 0.176) 61.75%, rgba(253, 117, 0, 0) 98.34%), #341902;
    width: 100%;
    max-width: 1120px;
    min-height: 100vh;
    margin: 0 auto;

    padding: 0px 10px;

    .welcome {
        margin: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: 10px;

        p {
            font-weight: 900;
            font-size: 18px;
            line-height: 24px;
            color: #FD7500;
        }

        span {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: var(--white);

        }

        .trailname {
            color: var(--orange);
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
        .category {
            width: 250px;
            padding: 10px;
            background: linear-gradient(269.8deg, rgba(253, 117, 0, 0.3) 0.04%, rgba(52, 168, 83, 0.3) 99.7%), #F5F5F5;
            border-radius: 10px 10px 0px 0px;
            border: 1px solid rgba(53, 25, 2, 0.3);

            font-weight: 500;
            font-size: 16px;
            line-height: 117.5%;

            text-align: center;

            color: #000000;

        }

        .contents {
            width: 100%;
            margin-bottom: 20px;
            background: linear-gradient(269.8deg, rgba(253, 117, 0, 0.3) 0.04%, rgba(52, 168, 83, 0.3) 99.7%), #F5F5F5;
            border-radius: 0px 10px 10px 10px;
    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            ul {
                border-radius: 10px;
                width: 100%;
    
                li {
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 160.62%;
                    list-style: none;

                    display: flex;
                    flex-direction: column;
                    gap: 20px;
    
                    color: var(--black);

                    .items {
                        background: #F5F5F5;
                        border-radius: 10px;
                        padding: 8px;
                        border: none;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        gap: 5px;
                        transition: filter 0.3s;

                        &:hover {
                            filter: brightness(0.9);
                        }

                        p {
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 24px;
                            color: var(--blue-dark);
                        }

                        span {
                            font-family: 'Gothic A1';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 160.62%;
                            color: var(--blue-dark);
                        }

                        ul {
                            margin-top: 10px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 5px;
    
                            li {
                                padding: 0 3px;
                                background: rgba(52, 168, 83, 0.3);
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                font-family: 'Gothic A1';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 22px;

                                color: var(--black);

                                &:nth-child(2) {
                                    background: #D9D9D9;
                                }

                                &:nth-child(3) {
                                    background: rgba(253, 117, 0, 0.3);
                                }

                                &:nth-child(4) {
                                    background: #333333;
                                    color: var(--white);
                                }
                            }
                        }
                    }
    
                }
            }
        }
    }

    .modalContent {
        color: var(--blue-dark);
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        
        h2 {
            width: 100%;
            text-align: center;
        }

        ul {
            width: 100%;
            background: linear-gradient(269.8deg, rgba(253, 117, 0, 0.3) 0.04%, rgba(52, 168, 83, 0.3) 99.7%), #F5F5F5;
            border-radius: 5px;
            padding: 10px;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
                display: flex;
                flex-direction: row;

                a {
                    width: 500px;
                    text-align: center;
                    margin-top: 10px;
                    background: var(--blue-dark);
                    color: var(--white);
                    padding: 10px;
                    border-radius: 5px;
                    transition: filter 0.3s;

                    &:hover {
                        filter: brightness(0.9);
                    }
                }

                button {
                    background: var(--green);
                    border: none;
                    width: 100%;
                    padding: 10px;
                    border-radius: 5px;
                    transition: filter 0.3s;

                    &.notCompleted {
                        background: var(--orange);
                    }

                    &:hover {
                        filter: brightness(0.9);
                    }
                }
            }
        }
    }
}