.container {
    position: absolute;
    width: 973px;
    height: 78px;
    left: 0px;
    top: 0px;

    background: #F5F5F5;
    border-radius: 10px;
}

.image_box {
    width: 48px;
    height: 48px;
    left: 22px;
    top: 34px;
    position: relative;
}

.text_box {
    width: 179px;
    height: 96px;
    top: 11px;
    left: 90px;
    position: absolute;
}

.text_p {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160.62%;
    color: #FFFFFF;

}