.container {
    width: 283px;
    height: 115px;

    background:rgba(217, 217, 217, 0.3);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    img {
        width: 48px;
        height: 48px;
    }
    
    .text_box {
        width: 179px;
        height: 96px;
    }
    
    .text_p {
        font-family: 'Gothic A1';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 160.62%;
        color: #FFFFFF;
    }
}