* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//cores
:root {
  --white: #FFFFFF;
  --black: #000000;
  --orange: #FD7500;
  --green: #34A853;
  --gray-light: #EEEEEE;
  --gray-dark: #393E46;
  --blue-dark: #222831;

}

body, input, textarea, select, button {
  font: 400 1rem 'Gothic A1', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
