.container {
    width: 100%;
    max-width: 1120px;
    display: flex;


}

.discord_box {
    position: relative;
    left: 725px;
    top: 28px;
}

.image_box {
    position: relative;
    width: 130px;
    height: 140px;
}

.logout {
    position: relative;
    width: 64px;
    height: 26px;
    left: 1036px;
    top: 69px;

    .buttonLogout {
        font-family: 'Gothic A1';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 160.62%;
        left: 11px;
        color: #FFFFFF;
    }
}