.container {
  background: linear-gradient(197.28deg, rgba(253, 117, 0, 0.2) 41.5%, rgba(57, 62, 70, 0.2) 91.02%), rgba(0, 0, 0, 0.99);
  width: 100vw;
  min-height: 100vh;
  
  .main {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 10px;

    nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        max-width: 90px;
        max-height: 90px;
        visibility: hidden;
      }

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        li {
          list-style: none;

          a {
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.5px;
            color: var(--white);
          }

          .buttonLogin {
            background: var(--white);
            border: 1px solid #000000;
            border-radius: 4px;
            padding: 16px 35px;

            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.5px;

            color: var(--blue-dark);
          }

          .buttonRegister {
            background-color: transparent;
            border: 2px solid #FFFFFF;
            border-radius: 4px;
            padding: 14px 4px;
          }

          button {
            transition: filter 0.3s;

            &:hover {
              filter: brightness(0.8);
            }
          
          }
        }
      }

      .menuMobile {
        background: transparent;
        border: none;
        display: none;
      }
    }

    header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      
      padding: 20px 0px;

      .presentation {
        flex: 1.5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 15px;

        img {
          margin-top: -20px;
        }

        h1 {
          font-weight: 600;
          font-size: 54px;
          line-height: 80px;
          color: var(--orange);
        }

        p {
          color: var(--white);
          font-weight: 400;
          font-size: 28px;
          line-height: 160.62%;

          span {
            font-weight: 700;
            color: var(--orange);
          }
        }

        a {
          background: var(--gray-light);
          border-radius: 10px;
          width: 100%;
          padding: 10px 0px;
          
          color: var(--blue-dark);
          font-weight: 900;
          font-size: 15px;
          line-height: 19px;
          text-align: center;
          text-transform: uppercase;

          &:hover {
            filter: brightness(0.9);
          }
        }
      }

      .authentication {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      } 
    }

    .sectionTwo {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px 0;

      .contents {
        flex: 2;
        width: 100%;

        p {
          font-weight: 600;
          font-size: 20px;
          line-height: 25px;

          color: var(--white);
          margin-bottom: 15px;
        }

        ul {
          list-style: none;

          li {
            list-style-position: inside;

            font-weight: 400;
            font-size: 16px;
            line-height: 25px;

            color: var(--white);

            &::before {
              content: '●';
              margin-right: 10px;
            }
          }
        }
      }
      
      .trails {
        width: 100%;
        flex: 1;

        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
          width: 100%;
          
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          text-align: center;

          color: var(--orange);
        }

        span {
          font-weight: 400;
          font-size: 14px;
          line-height: 77%;
          text-align: center;

          color: var(--white);
        }

        ul {
          display: flex;
          list-style: none;
          width: 100%;
          justify-content: space-between;
          align-items: center;

          li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
              width: 100%;
              margin-bottom: 10px;
            }

            span {
              font-weight: 700;
              font-size: 14px;
              line-height: 160.62%;


              color: var(--orange);

            }
          }
        }
      }
    }

    .supports {
      margin: 40px 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-weight: 600;
        font-size: 35px;
        line-height: 160.62%;
        color: var(--white);
      }

      .orgs {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;

        img {
          max-width: 180px;

          &:nth-child(3) {
            max-width: 250px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {

    .main {
      nav {
        position: relative;
        img {
          visibility: visible;
        }

        ul {
          display: none;
          position: absolute;
          top: 80px;
          left: 0;
          flex-direction: column;
          width: 100%;
          padding: 10px;
          background: linear-gradient(197.28deg, rgba(253, 117, 0, 0.2) 41.5%, rgba(57, 62, 70, 0.2) 91.02%), rgba(0, 0, 0, 0.99);
          border-left: 1px solid rgba(255, 119, 0, 0.2);
          border-right: 1px solid rgba(255, 119, 0, 0.2);
          border-bottom: 1px solid rgba(255, 119, 0, 0.2);
          border-radius: 0px 0px 10px 10px;
          
          li {
            display: flex;
            justify-content: center;
            padding: 15px;
          }

          transition: all 1px;

          &.visible {
            display: block;
          }
        }

        .menuMobile {
          display: block;
        }
      }
    }

    header {
      flex-direction: column;
      gap: 20px;

      .presentation {
        width: 100%;

        img {
          margin: 0 auto;
          margin-bottom: -50px;
        }

        h1 {
          margin: 0 auto;
          font-size: 24px !important;
          line-height: 30px !important;
        }

        p {
          max-width: 280px;
          margin: 0 auto;
          font-size: 14px !important;
          line-height: 160.62% !important;
        }

        a {
          max-width: 350px;
          margin: 0 auto;
          padding: 10px 20px !important;
        }
      }
    }

    .sectionTwo {
      flex-direction: column;

      .trails {
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 30px;

        ul {
          gap: 25px;
          margin-top: 10px;
        }
      }
    }
  }
}