.container {
  background: linear-gradient(242.84deg, rgba(52, 25, 2, 0.176) 61.75%, rgba(253, 117, 0, 0) 98.34%), #341902;
  width: 100vw;
  min-height: 100vh;
  
  .main {
    max-width: 1120px;
    margin: 0 auto;
    

    header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      
      padding: 20px 0px;

      .presentation {
        flex: 1.5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 15px;

        h1 {
          font-weight: 600;
          font-size: 64px;
          line-height: 80px;
          color: var(--orange);
        }

        p {
          color: var(--white);
          font-weight: 400;
          font-size: 32px;
          line-height: 160.62%;

          span {
            font-weight: 700;
            color: var(--orange);
          }
        }

        a {
          background: var(--gray-light);
          border-radius: 10px;
          width: 100%;
          padding: 10px 0px;
          
          color: var(--blue-dark);
          font-weight: 900;
          font-size: 15px;
          line-height: 19px;
          text-align: center;
          text-transform: uppercase;

          &:hover {
            filter: brightness(0.9);
          }
        }
      }

      .authentication {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      } 
    }

    .sectionTwo {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px 0;

      .contents {
        flex: 2;
        width: 100%;

        p {
          font-weight: 600;
          font-size: 20px;
          line-height: 25px;

          color: var(--white);
          margin-bottom: 15px;
        }

        ul {
          list-style: none;

          li {
            list-style-position: inside;

            font-weight: 400;
            font-size: 16px;
            line-height: 25px;

            color: var(--white);

            &::before {
              content: '●';
              margin-right: 10px;
            }
          }
        }
      }
      
      .trails {
        width: 100%;
        flex: 1;

        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
          width: 100%;
          
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          text-align: center;

          color: var(--orange);
        }

        span {
          font-weight: 400;
          font-size: 14px;
          line-height: 77%;
          text-align: center;

          color: var(--white);
        }

        ul {
          display: flex;
          list-style: none;
          width: 100%;
          justify-content: space-between;
          align-items: center;

          li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
              width: 100%;
              margin-bottom: 10px;
            }

            span {
              font-weight: 700;
              font-size: 14px;
              line-height: 160.62%;


              color: var(--orange);

            }
          }
        }
      }
    }

    .supports {
      margin: 40px 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-weight: 600;
        font-size: 35px;
        line-height: 160.62%;
        color: var(--white);
      }

      .orgs {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
          max-width: 200px;

          &:nth-child(3) {
            max-width: 300px;
          }
        }
      }
    }
  }
}